@import "./functions";
@import"./variables";
.jumbotron{
    background-color: $red;
}

.navbar-dark{
    background-color:rgba(192, 33, 33, 0.61) ;

}

.nav-item{
    font-size: 110%;
    color: $red;
}

.nav-link{
    color: $red;
}
.titel-lfc{
    text-align: center;
    color: $red;
    background-color: white;
}

footer{
    background-color: red;
}
.form-div{
   text-align: center;

}
.message-form{
    width: 50%;
  margin: auto;
  margin-top: 2rem;
  border-style: solid;
  border-color: red;
  margin-bottom: 2rem;
  padding-left: 20px;
}

@media screen and (max-width: 500px){
    .message-form{
        width: 100%;
    }
    .classForMessages{
        width: 100%;
    }
}