<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKUNK</title>
</head>
<body>
    <form action="/messages" method="post">
        <label for="fname">message:</label><br>
       
        <input type="text" id="" name="message"><br>
       
        <label for="mail"> mail:</label><br>
       
        <input type="email" id="lname" name="email">

        <button type="submit">send</button>
      </form>
    
      <h2>Messages:</h2>
      <% for( let i = 0; i < messages.length; i++ ) { %>
            <h1><%- messages[i].message %> -hej </h1>
      <% } %>

      
</body>
</html>